a{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: pink;
}

a:hover{
    background-color: aqua;
}

#father {
    border: 2px solid red;
    width: 300px;
    height: 300px;
    padding: 10px;
}

#second,#fourth {
    position: relative;
    left:200px;
    top:-100px;
}

#fifth {
    position: relative;
    left:100px;
    top:-300px;
}